@using BlogPersonal.Extras
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TecnoFit</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="icon" href="https://img.icons8.com/fluency/48/laptop.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c0f9b352f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css" />
    <link rel="stylesheet" href="~/css/prism.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    
</head>
<body class="bg-[var(--body-color)] flex h-screen flex-col">
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
            }
        }
    </script>
    
    <header class="mx-4 lg:mx-[60px]">
        <div class="flex flex-col">
            <nav class="my-[13.5px] flex items-center justify-between">
                <a class="text-[var(--primary-color)] text-[32px] inter-extrabold" asp-action="Index" asp-controller="Home">TecnoFit</a>
                <ul class="gap-[14px] hidden flex-row items-center lg:flex">
                    <li>
                        <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] @ViewData["Inicio"] active:text-[var(--primary-color)]" asp-action="Index" asp-controller="Home">Inicio</a>
                    </li>
                    <li>
                        <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] active:text-[var(--primary-color)] @ViewData["Publicaciones"]" asp-action="Posts" asp-controller="Home">Publicaciones</a>
                    </li>
                    <li>
                        <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] active:text-[var(--primary-color)] @ViewData["Contacto"]" asp-action="Contact" asp-controller="Home">Contacto</a>
                    </li>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <li>
                            <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] @ViewData["Gestionar"] active:text-[var(--primary-color)]" asp-action="Index" asp-controller="Admin">Gestionar</a>
                        </li>
                    }
                </ul>
                <div class="gap-[28px] hidden items-center lg:flex">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="border-2 inter-bold px-[20px] py-[12px] h-[48px] inter-bold rounded-[6px] flex items-center border-white text-white transition-colors hover:text-black hover:bg-white hover:border-black" asp-action="Login" asp-controller="Account">
                            Iniciar sesión
                        </a>
                        <a class="border-2 border-[var(--primary-color)] h-[48px ] bg-[var(--primary-color)] px-[20px] py-[12px] inter-bold rounded-[6px] flex items-center text-white transition-colors hover:bg-[var(--secondary-color)]" asp-action="Register" asp-controller="Account">
                            Registrarse
                        </a>
                    }
                    else
                    {
                        <button class="relative" id="buttonProfile">
                            <i class="fa-regular fa-user text-[var(--primary-color)] text-[24px]"></i>
                            <div class="bg-[var(--primary-color)] p-[6px] inter-bold hidden text-white">
                                <a asp-action="Logout" asp-controller="Account">Salir</a>
                            </div>
                        </button>
                    }

                </div>
                <button class="inactive lg:hidden" id="buttonMobileMenu">
                    <i class="fa-solid fa-bars text-[var(--primary-color)] text-[30px] mr-1"></i>
                </button>
                
            </nav>
            <div role="navigation" class="hidden flex-col" id="navbarMobile">
                <ul class="gap-[14px] flex w-full flex-col items-center lg:hidden">
                    <li>
                        <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] @ViewData["Inicio"] active:text-[var(--primary-color)]" asp-action="Index" asp-controller="Home">Inicio</a>
                    </li>
                    <li>
                        <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] active:text-[var(--primary-color)] @ViewData["Publicaciones"]" asp-action="Posts" asp-controller="Home">Publicaciones</a>
                    </li>
                    <li>
                        <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] active:text-[var(--primary-color)] @ViewData["Contacto"]" asp-action="Contact" asp-controller="Home">Contacto</a>
                    </li>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <li>
                            <a class="p-[8px] inter-bold text-[var(--link-color)] transition-[.5s] hover:text-[var(--secondary-color)] @ViewData["Gestionar"] active:text-[var(--primary-color)]" asp-action="Index" asp-controller="Admin">Gestionar</a>
                        </li>
                    }
                </ul>
                <div class="gap-[28px] flex w-full flex-row justify-center lg:hidden">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="border-2 inter-bold px-[15px] py-[6px] h-[38px] inter-bold rounded-[6px] flex items-center border-white text-white transition-colors hover:text-black hover:bg-white hover:border-black" asp-action="Login" asp-controller="Account">
                            Iniciar sesión
                        </a>
                        <a class="border-2 border-[var(--primary-color)] h-[38px] bg-[var(--primary-color)] px-[15px] py-[6px] inter-bold rounded-[6px] flex items-center text-white" asp-action="Register" asp-controller="Account">
                            Registrarse
                        </a>
                    }
                    else
                    {
                        <a class="text-[var(--primary-color)] inter-bold" asp-action="Logout" asp-controller="Account">Salir de la cuenta</a>
                    }

                </div>
            </div>
            
        </div>
        
    </header>
    <main role="main" class="w-full flex-grow">
        @RenderBody()
    </main>
    <footer class="bg-[var(--secondary-body-color)] mt-auto w-full">
        <ul class="gap-[14px] py-[34px] px-[65px] flex flex-row items-center text-white">
            <li class="pt-2">
                @@2024
            </li>
            <li>
                <a class="flex flex-col items-center text-center transition-colors hover:text-[var(--primary-color)]" href="https://github.com/AbelMV29" target="_blank">
                    <span class="mt-2">GitHub</span>
                </a>
            </li>
            <li>
                <a class="flex flex-col items-center text-center transition-colors hover:text-[var(--primary-color)]" target="_blank" href="https://www.linkedin.com/in/abel-montes-vega/">
                    <span class="mt-2">LinkedIn</span>
                </a>
            </li>
            <li>
                <a class="flex flex-col items-center text-center transition-colors hover:text-[var(--primary-color)]" href="mailto:mvabel23@gmail.com" target="_blank">
                    <span class="mt-2">Email</span>
                </a>
            </li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    <partial name="_Notification" />
    
    <script src="~/js/prism.js"></script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Bold,
            Italic,
            Font,
            Paragraph,
            Image,
            ImageInsert,
            CodeBlock,
            ImageResizeEditing,
            ImageResizeHandles,
            Heading,
            HorizontalLine,
            Alignment,
            AutoLink, 
            Link,
            List
        } from 'ckeditor5';

        ClassicEditor
    .create(document.querySelector('#editor'), {
                plugins: [List,Essentials, Link, AutoLink, Bold, Italic, Font, Paragraph, Image, ImageInsert, CodeBlock, ImageResizeEditing, Alignment, ImageResizeHandles, Heading, HorizontalLine],
        toolbar: [
            'undo', 'redo', '|', 'bold', 'italic', '|',
                    'heading', 'fontFamily', 'fontColor', 'link', 'fontBackgroundColor', ' | ', 'insertImage', 'codeBlock','|', 'horizontalLine', 'alignment','bulletedList','numberedList'
        ],
        image: {
            insert: {
                integrations: ['upload', 'assetManager', 'url']
            }
        },
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' }
            ]
        }
    })
    .then(editor => {
        console.log('Editor was initialized', editor);
    })
    .catch(error => {
        console.error(error.stack);
    });
    </script>
    <script>
        const buttonElement = document.getElementById("buttonProfile");
        if (buttonElement) {
            buttonElement.addEventListener('click', (event) => {
                const childElement = buttonElement.children[1];
                if (childElement.classList.contains('hidden')) {
                    childElement.classList.remove('hidden');
                    childElement.classList.add('absolute');
                }
                else {
                    childElement.classList.remove('absolute');
                    childElement.classList.add('hidden');
                }
            })
        }
       


        $(function () {
            const menuButton = $("#buttonMobileMenu")
            menuButton.click(() => {
                if (menuButton.hasClass("inactive")) { 
                    menuButton.removeClass("inactive");
                    menuButton.addClass("active");
                    $("#navbarMobile").removeClass("hidden").addClass("flex").addClass("gap-[15px]");
                    $("#navbarMobile").slideDown();
                }
                else
                {
                    menuButton.removeClass("active");
                    menuButton.addClass("inactive")
                    $("#navbarMobile").slideUp();
                }
            })
        })
    </script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
